body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

section {
  padding: 2rem 0;
  margin-bottom: 2rem; /* Add margin between sections */
}

@media (max-width: 1400px) and (min-width: 1000px) {
  section {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem; /* Adjust margin for this range */
  }
}

@media (max-width: 1024px) {
  section {
    padding: 1rem 0;
    margin-bottom: 1rem; /* Adjust margin for this range */
  }
}

@media (max-width: 768px) {
  section {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem; /* Adjust margin for this range */
  }
}
