.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  bottom: 0;
  animation: fadeIn 2s ease-in;
}

.footercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sociallinks {
  margin-top: 0.5rem;
}

.sociallinks a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.sociallinks a:hover {
  color: #61dafb;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}